
<ion-view view-title="About Us">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        <h2>Mission Statement</h2>
      </div>
      <div class="item item-text-wrap">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta consectetur ex asperiores, eveniet iure et dolor quod, quia cumque velit fugiat! Eum doloremque vitae, assumenda sapiente, sequi ea exercitationem possimus.</p>
        <p>Ad iste deleniti fugit voluptatibus non pariatur praesentium accusamus, quod explicabo iure quidem nobis saepe, laboriosam voluptatem aliquid neque itaque doloribus vitae enim, molestias soluta dolorem vel. Eius quod, dicta.</p>
        <p>Quaerat vitae temporibus et, doloribus. Sequi error harum neque magni quidem expedita enim perspiciatis a blanditiis iure, ratione ullam numquam, id delectus placeat quos doloribus voluptate earum non nulla omnis!</p>
      </div>
    </div>
    <ul class="list list-inset">
      <li class="item item-divider">
        <h2>Board of Directors</h2>
      </li>
      <li class="item item-avatar item-text-wrap" ng-repeat="leader in leaders">
        <img ng-src="{{baseURL + leader.image}}" alt="{{leader.name}}">
        <h3>{{leader.name}}<h3>
        <h4>{{leader.title}}</h4>
        <p>{{leader.bio}}</p>
      </li>
    </ul>
</ion-content>
</ion-view>
