<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        <h3>Contact Info</h3> 
      </div>
      <div class="item">
        <address>
          2F., No.1-1, Sec. 1, Xinhai Road<br>
          Zhongzheng Dist., Taipei City 100<br>
          Taiwan<br>
          <i class="icon ion-android-call"></i>: +886 2 2674 5123<br>
          <i class="icon ion-printer"></i>: +886 2 2674 5123<br>
          <i class="icon ion-android-mail"></i>: 
          <a href="mailto:teles0424@yahoo.com.tw">teles0424@yahoo.com.tw</a>
        </address>
      </div>
      <div>
        <div class="button-bar">
          <a type="button" class="button button-positive" href="tel:+886226745123"><i class="icon ion-android-call"></i> Call</a>
          <a type="button" class="button button-balanced" href="mailto:teles0424@yahoo.com.tw"><i class="icon ion-android-mail"></i> Email</a>
        </div>
      </div>
    </div>
    <button type="button" class="button button-positive button-block" ng-click="openContact()">Leave a Message</button>
  </ion-content>
</ion-view>
