<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Your Feedback</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeContact()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="sendMessage()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="contact.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="feedback.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Your Message</span>
            <textarea type="text" ng-model="feedback.message"></textarea>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Send Message</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>