<ion-view view-title="Event Details">
  <ion-content>
    <div class="card">
      <div class="item item-body item-text-wrap">
        <h2>{{event.title}} 
          <span style="font-size:75%">{{event.date | date:"longDate"}}</span></h2>
        <div ng-bind-html="event.detail"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
