<ion-view view-title="Event">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="event in events" href="#/app/event/{{event._id}}" class="item-thumbnail-left">
        <h2>{{event.name}} 
        <span style="font-size:75%">{{event.date | date:"longDate"}}</span></h2>
        <p>{{event.description}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
