<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Messages</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeMessage()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ul class="list list-inset">
      <li class="item item-text-wrap" ng-repeat="msg in msgs">
        <h3>{{msg.name}}<h3>
        <p>{{msg.time | date:"medium"}}</p>
        <h4>{{msg.email}}</h4>
        <p>{{msg.message}}</p>
        <button class="button button-block button-assertive" ng-click="deleteMsg()">
          Delete Message
        </button>
      </li>
    </ul>
  </ion-content>
</ion-modal-view>