<ion-view view-title="Publication Details">
  <ion-content>
    <div class="card">
      <div class="item item-body item-text-wrap">
           <img class="full-image" ng-src="{{baseURL+pub.image}}" alt="{{pub.title}}">
            <h2>{{pub.title}} 
            <span style="font-size:75%">{{pub.price | currency:"NT$ ":0}}</span>
            <span class="badge badge-assertive">{{pub.label}}</span></h2>
            <p>{{dish.detail}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
