<ion-view view-title="Publication">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="pub in pubs" href="#/app/publication/{{pub._id}}" class="item-thumbnail-left">
        <img ng-src="{{baseURL+pub.image}}">
        <h2>{{pub.title}} 
        <span style="font-size:75%">{{pub.price | currency:"NT$ ":0}}</span>
        <span class="badge badge-assertive">{{pub.label}}</span></h2>
        <p>{{pub.description}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
