<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Register</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeRegister()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doRegister()">
      <div class="list">
         <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="registration.name">
        </label>
         <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="registration.username">
        </label>
       <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="registration.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Register</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>